hcloud_token         = "VRQ6eufEK5crADrWnKUmVxBPq2NOdjFl8vhh1oVWGy3W1GKnnga4wHgdQ6yZNM0V"
server_name          = "devops-lab-01"
server_type          = "cx22"
location              = "fsn1"
ssh_public_key_path  = "~/.ssh/id_ed25519.pub"
